.selection {
    margin-top: 120px;
}

.selection>h4 {
    font-size: 40px;
    color: var(--text);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.selection__header {
    margin-top: 50px;
    font-size: 16px;
    color: rgb(85, 109, 127);
    line-height: 1.2;
    text-align: left;
    padding: 10px 0;
}

.selection>ul>li {
    display: flex;
}


.render-list>ul:nth-child(odd) {
    background: var(--gray);
    border-top: 1px solid var(--gray-border);
}


.render-list>ul:nth-child(2n) {
    border-bottom: 1px solid var(--gray-border);
}

.selection-table {
    display: grid;
    grid-template-columns: 6.5% 57.7% 12.2% 12.80% 10.80%;
}

.section-tablebody>li {
    border-right: 1px solid var(--gray-border);
    padding-left: 30px;
}

.section-tablebody>li>p {
    margin: 20px 0 20px 0;
    font-size: 16px;
}



@media screen and (max-width: 1400px) {
    .selection__header {
        margin-top: 30px;
        font-size: 14px;
    }

    .section-tablebody>li>p {
        margin: 20px 0 20px 0;
        font-size: 14px;
    }

    .selection-table {
        grid-template-columns: 4.5% 61.5% 9% 12.5% 12.5%;
    }

    .section-tablebody>li {
        padding-left: 20px;
    }
}

@media screen and (max-width: 1300px) {
    .selection {
        margin-top: 75px;
    }

    .selection>h4 {
        font-size: 30px;
    }

    .selection__header>li>span {
        display: none;
    }

    .selection-table {
        grid-template-columns: 7.5% 48% 7.5% 18.5% 18.5%;
    }
}

@media screen and (max-width: 768px) {
    .selection>h4 {
        font-size: 24px;
    }

    .render-list {
        margin-top: 20px;
    }

    .render-list>ul:nth-child(odd) {
        background: #e3edfa;
        border-top: 1px solid #e3edfa;
    }


    .render-list>ul:nth-child(2n) {
        border-bottom: 1px solid #e3edfa;
    }

    .section-tablebody>li {
        border-right: 0px;
        padding-left: 30px;
    }

    .selection-table {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 4;
    }



    .div2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div3 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .div4 {
        grid-area: 2 / 3 / 3 / 4;
    }

    .selection__header {
        display: none;
    }

    .section-tablebody>li:first-child {
        display: none;
    }
}